<html>
    <head>
        <meta http-equiv="content-type" content="test/plain;charset=utf-8">
        <body>
            <h1>mini搜索!</h1>
            <h2>welcome to shaw<h2>
            <form action="/search" method="get">
                Seacher: <input type="text" name="query" />
                <input type="submit" value="Submit" />
            </form>
                
            <h1>在线oj</h1>
            
            <div>
                <a href="http://120.79.62.3:9095/all_questions.html">
                    题目列表</a>
        </body>
</html>

